html, body { 
  height: 100%; 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.task-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 20px auto;
}

.mat-form-field {
  margin-bottom: 20px;
}

.tasks-container {
  margin-top: 20px;
}

.mat-table {
  width: 100%;
} 